<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Opret produkt</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.4/css/foundation.min.css">
   <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

   <div id="header">
      <div class="grid-container text-center">
         <h5>PORTO DORITO</h5>
       
      </div>
   </div>

   <div id="content">
         <div id="sidebar">
           
         </div>
         <div id="main">
            <form class="form" action="/opret-produkt/opret" method="POST">

               <h4>Opret Produkt</h4>
               <label>
                  Titel
                  <input required type="text" name="title" placeholder="Titel">
               </label>
               <label>
                  Beskrivelse
                  <input required type="text" name="desc" placeholder="Beskrivelse">
               </label>
               <label>
                  Pris
                  <input required type="number" name="price" placeholder="Pris">
               </label>
               <label>
                  Billede URL
                  <input required type="url" name="image" placeholder="https://google.com/myimage.png">
               </label>
               
               <label>
                  Kategorier
                  <input required type="text" name="cat" placeholder="Kat1, Kat2">
               </label>
               
               <div class="button-group">
                  <button class="button primary">Opret</button>
                  <a class="button secondary hollow" href="/forside">Tilbage</a>
               </div>

            </form>
         </div>
   </div>

</body>
</html>